.ViewEmployees {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ViewEmployees form {
    width: 177px;
}

.ViewEmployees form button {
    width: 177px;
    margin-bottom: 2px;
    padding: 0 15px;
}
